/* color pallette
bg #eeebf2
card-bottom #f1f1f1 
border line #cccccc*/

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    background: #eeebf2;
}

img {
    max-width: 100%;
}

/* ================
===== Typography =====
==================== */

h1 {
    text-align: center;
    font-size: xx-large;
}

h3,
h5 {
    margin: 1em 0;
}

.team-section h2 {
    border-bottom: 5px solid #cccccc;
}

.logo {
    font-family: 'Rock Salt', cursive;
    font-size: xx-large;
}

.team-columns img {
    margin-bottom: 0;
    /* padding: 30px; */
}

.team-columns p {
    text-align: center;
}

.fixture-button-columns p {
    text-align: right;
}

/* ================
===== Layout =====
==================== */

main {
    background: #eeebf2;
}

main, header {
    padding: 10px 25px;
}

header {
    background: #fff;
}

nav {
    float: right;
    text-decoration: none;
    font-size: x-large;
    padding: 25px 0;
    color: black;
}

nav a {
    padding-left: 50px;
    text-decoration: none;
}

.hero {
    width: 100%;
    margin-bottom: 0;
}

.team-columns {
    display: flex;
    justify-content: space-evenly;
    /* border: yellow dashed 5px; */
}

.team-columns .col {
    /* border: red dashed 5px; */
    margin: 20px;
    box-shadow: 5px 10px 10px #cccccc;
}

.team-columns img:hover,
.team-columns img:active {
    opacity: 0.5;
}

.fixture-columns,
.fixture-card-columns,
.fixture-button-columns {
    display: flex;
    justify-content: space-evenly;
}

.fixture-card {
    /* border: yellow dashed 5px; */
    box-shadow: 5px 10px 10px #cccccc;
    text-align: center;
}

.fixture-card img {
    width: 50%;
}

/* ================
===== Button =====
==================== */

.fixture-button-columns {
    display: none;
}

.match-btn {
    padding: 10px 20px;
    margin: 20px 0;
    /* border-color: #030b54; */
}

.match-btn:hover,
.match-btn:active {
    box-shadow: 5px 10px 10px #cccccc;
}



